/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/* img{
  display: block;
  margin: 0 auto;
  height: 200px;
  
} */
ul, li, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.hidden {
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.drink_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.drink {
  border: 1px solid black;
  border-radius: 4px;
  max-width: 320px;
  margin: 1rem;
}

.drink img {
  width: 100%;
}

.drink h2, .drink p {
  padding: 0 1rem;
}